
#wrap{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0a0909 url(../images/index_bg.jpg) no-repeat center center;
    background-size: cover;
}
#wrap .logo{
    width: 400px;
    margin-bottom: 100px;
}
#wrap p{
    width: 550px;
    margin-bottom: 50px;
    display: flex;
    background: #fff;
    font-size: 24px;
    border-radius: 30px;
    line-height: 65px;
    position: relative;
}
#wrap label{
    width: 130px;
    background: #ff8400;
    color: #fff;
    border-radius: 30px;
    text-align: center;
}
#wrap input{
    width: 100%;
    border: none;
    font-size: 20px;
    color: #b2b2b2;
    padding-left: 10px;
    border-radius: 0 30px 30px 0;
}

#wrap .tips{
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 16px;
    color: red;
    display:none;
}
#wrap .tips.active{
    display: block;
}

input::placeholder{
    color: #ccc;
    font-size: 16px;
}

#wrap button{
    width: 120px;
    height: 65px;
    margin: 0 10px;
    background: #ff8400;
    border-radius: 30px;
    font-size: 24px;
    color: #fff;
}
#wrap button:last-child{
    background: #cc2e2a;
}